<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Ticket</title>
    <link rel="stylesheet" href="passTicket.css" />
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/cf268fac04.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  </head>
  <body>
    <div class="navbar">
      <img src="images/logo4.png" alt="sbdhm" />
      <a href="#" onclick="toggleDropdown()"
        ><i class="fa-solid fa-bars fa-2xl"></i
      ></a>
      <div id="dropdown" class="dropdown-content">
        <a href="index.html">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="#">Helpline</a>
      </div>
    </div>

    <div class="tic-flex">
      <div class="ticket" id="invoice">
        <img src="images/logo4.png" alt="logo" width="100 px" height="100px" />
        <!-- <img class="buslogo" src="images/bus emoji.jfif" alt="bus" width="100px" height="100px"> -->
        <div class="ticket-header">
          <h2>Bus Ticket</h2>
        </div>
        <div class="ticket-info">
          <p>Bus Number:<span id="bus-id1">XYZ123</span></p>
          <p>Date: <span id="date">March 5, 2024</span></p>
          <p>Time: <span id="time">10:00 AM</span></p>
          <p>No. of Tickets: <span id="tkt">1</span></p>
          <p><span>Price: </span> <span id="passPrice1">$10.00</span><b>rs</b> </p>
          <p><span>Start Point: </span> <span id="src">City A</span></p>
          <p><span>End Point: </span> <span id="dest">City B</span></p>
        </div>
        <div class="ticket-valid">
          <p><span>Valid Till:</span> 12:00 AM</p>
        </div>
        <div>
          <img
            class="qr"
            src="images/qr-code.png"
            alt="QR Code"
            height="100px"
            width="100px"
          />
        </div>
        <div class="helpline">
          <p><span>Helpline Number:</span> 123-456-7890</p>
        </div>
      </div>
      <button id="downloadBtn">Download Ticket as PDF</button>
    </div>

    <script>
      window.onload=function(){
        document.getElementById("downloadBtn").addEventListener("click",()=>{
          const invoice=this.document.getElementById("invoice");
          console.log(invoice);
          console.log(window);
          html2pdf().from(invoice).save()
        })
      }
    </script>
    <script src="script.js"></script>
  </body>
</html>
